/* Animações */
@keyframes up{
    from{
        opacity: 0;
        transform: translateY(16px);
    }

    to{
        opacity: 1;
        transform: rotateY(0);
    }
}

.animate-up{
    animation: up 300ms backwards;
}

